vendor/
/.idea
Tests/sampleProject/var/data/db_test/everycheckdb\.db3
Tests/sampleProject/var/sessions/
Tests/sampleProject/tests/ForeignKeyBundle/DataFixtures/env.json
Tests/sampleProject/tests/PatternBundle/DataFixtures/env.json
